section {
    margin-top: 20px;
}

.logotitu {
    width: 250px;
}

.sectso {
    margin-top: 30px;
}

.imgse {
    width: 55%;
    margin-left: 450px;
    height: 250px;
    margin-top: 25px;
}

.imgs {
    width: 250px;
    height: 250px;
    padding: 15px;
    cursor: pointer;
    transition: ease 1s;
    border-radius: 30px;
}

.imgs:hover {
    transform: scale(1.2);
}

.int {
    color: var(--cor-texto);
}

.titu {
    display: flex;
    align-items: center;
    justify-content: center;
}