* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

:root {
    --cor-neon:  #b13358;
    --cor-gradiente-1: #9a5987;
    --cor-gradiente-2: #d82b58;
    --cor-branca: #ffffff;
    --cor-texto: #171115;
    --box-shadow: 0 2px 15px rgba(248, 117, 108, 0.37); 
}